.sign-up-home {
    border-radius: 4px;
    background-color: #000000;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: small;
    padding: .5%;
    padding-right: 1%;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    height: 38px;
  }

  .sign-up-home{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.sign-up-home:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 8px;
    right: -20px;
    transition: 0.5s;
  }

  .sign-up-home:hover{
    padding-right: 24px;
    padding-left:8px;
  }

  .sign-up-home:hover:after {
    opacity: 1;
    right: 10px;
  }

  .sign-up-form{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    border: 1px solid black;
  }

  .sign-up-h2{
    font-size: 60px;
    font-weight: 600;
  }

  .sign-up-inputs {
    font-weight: bolder;
    width: 40%;
    position: relative;
    margin: auto;
    /* bottom: 10%; */
    /* font-family: sans-serif; */
  }

  input{
    margin-top: 1%;
  }

  .sign-up-p{
    font-size: 11px;
    font-family: sans-serif;
    position: relative;
    bottom: 9%;
  }

  .sign-up-modal {
    border-radius: 4px;
    background-color: rgb(30,30,30);
    border: 1px solid rgb(30,30,30);
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: small;
    padding-right: 7%;
    width: 25%;
    padding: 2%;
    cursor: pointer;
    position: relative;
    bottom: 8%;
    right: 2%;
  }

  .sign-up-modal:hover {
    background-color: black
}

.errors-sign-up {
    font-size: 11px;
    top: 20%;
    right: 25%;
  }

  .errors-sign-up-ul {
  position: absolute;
  top: 25%;
  right: 25%;
}

.sign-up-inputs-wrapper {
  width: 60%;
  height: 40%;
  padding: 1%;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0%;
  right: 8%;
}
