.profile-button-2,
.edit-button-2,
.home-button-2 {
    background-color: white;
    border: none;
    font-size: 30px;
    color: rgb(75,75,75);
    transition: color .5s;
    cursor: pointer;
}

.profile-button-2:hover,
.edit-button-2:hover,
.home-button-2:hover {
    color: black;
}

.profile-button-solid-2 {
    background-color: white;
    border: none;
    font-size: 30px;
    color: black;
    transition: color .5s;
}

.profile-dropdown-2{
    background-color: white;
    border: 1px solid black;
    width: 8vw;
    position: fixed;
    top: 68.7%;
    left: 3%;
    border-radius: 5px;
    z-index: 2;
    list-style:none;
    text-align: left;
    font-size: 15px;
    height: 10vh;
    box-shadow: 3px 3px #0000005e;
}

.dropdown-name-2 {
    position: relative;
    top: 10%;
    left: 7%;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 15%;
}

.write-article-2 {
    color: rgb(146, 146, 146);
    position: relative;
    margin-top: 3.5%;
    cursor: pointer;
    transition: color .5s;
    font-size: 35px;
    text-decoration: none;

}

.logout-2 {
    color: rgb(146, 146, 146);
    cursor: pointer;
    transition: color .5s;
    font-size: 35px;
}

.write-article-2:hover,
.logout-2:hover {
    color:black;
    cursor: pointer;
}

.logout-article-wrapper-2 {
    display: inline-flex;
    position: relative;
    right: 10%;
}

.nav-buttons-2 {
    display: flex;
    flex-direction: column;
    height: 50vh;
    position: absolute;
    justify-content: space-between;
    left: 85%;
    margin-top: 85%;
}

.gray-line {
    color: rgb(201, 201, 201)
}

.articles-logout-button {
    border-radius: 4px;
    background-color: rgb(30,30,30);
    border: 1px solid rgb(30,30,30);
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: small;
    padding-right: 7%;
    width: 5vw;
    height: 3vh;
    padding: 2%;
    cursor: pointer;
    position: relative;
    bottom: 8%;
    right: 2%;
  }

  .articles-logout-button:hover {
    background-color: black
}
