.footer-div-home {
    position: fixed;
    bottom: 0;
    /* background-color: #f5f5f5; */
    width: 100vw;
    font-size: 45px;
    padding-top: 1%;
    text-align: center;
    display: flex;
    left: 15%;
    width: 70%;
    padding-bottom: 1%;
    padding-top: 2%;
    left: 0;
   right: 0;
    border-top: 1px solid rgb(146, 146, 146);
}

.footer-div-articles {
    position: relative;
    bottom: 0;
    font-size: 45px;
    padding-top: 1%;
    text-align: center;
    display: flex;
    left: 5%;
    width: 70%;
    padding-bottom: 1%;
    padding-top: 2%;
   right: 0;
border-top: 1px solid rgb(146, 146, 146);
}

.fa-linkedin,
.fa-github,
.fa-amilia {
    color: rgb(146, 146, 146);
    transition: color .5s
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-amilia:hover {
    color: black;
}
