.edit-comment-body {
    width: 31vw;
    height: 12vh;
    position: relative;
    bottom: 160px;
    right: 1%;
    padding: 1%;
    resize: none;
}

.submit-edit-form,
.cancel-edit-form {
    position: relative;
    right: 14%;
    bottom: 161px;
    font-size: x-small;
    font-weight: 600;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.edit-delete-articles {
    position: relative;
    left: 80%;
    bottom: 55px;
}

.edit-comment-form {
    height: 0vh;
}
