
.delete-form{
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 30vh;
    border: 1px solid black;
  }

  .delete-h2{
    font-size: 60px;
    font-weight: 600;
  }

  .sign-up-inputs {
    font-weight: bolder;
    width: 40%;
    position: relative;
    bottom: 10%;
    /* font-family: sans-serif; */
  }

  input{
    margin-top: 1%;
  }

  .delete-p{
    font-size: 11px;
    font-family: sans-serif;
    position: relative;
    bottom: 6%;
  }

  .delete-modal {
    border-radius: 4px;
    background-color: rgb(30,30,30);
    border: 1px solid rgb(30,30,30);
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: small;
    padding-right: 7%;
    width: 25%;
    padding: 2%;
    cursor: pointer;
    position: relative;
    bottom: 8%;
    right: 2%;
  }

  .delete-modal:hover {
    background-color: black
}
