.textarea-add-comment {
    position: relative;
    left: 50%;
    resize: none;
}

.add-comment-submit {
    position: relative;
    left: 50%;
}

.add-article-form {
    position: relative;
    left: 30%
}

.add-a-comment-p {
    position: relative;
    left: -15%;
    width: 10%;
    font-family: sans-serif;
    margin-bottom: .3%;
    text-indent: 10px;
    font-size: small
}

.add-a-comment-errors {
    position: relative;
    left: 29%;
    font-size: x-small;
}

.textarea-add-comment {
    width: 30vw;
    height: 12vh;
    position: relative;
    padding: 1%;
    resize: none;
}

.inner-comment-wrapper {
    position: relative;
    right: 20%
}

.add-a-comment-ul {
    margin-top: 5%
}

.add-comment-submit {
    position: relative;
    margin-bottom: 5.1%;
    border: solid black 100px;
    z-index: 2;
    left: 47.3%;
    font-size: x-small;
    font-weight: 600;
    right: -5%;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}
