.profile-button {
    background-color: white;
    border: none;
    font-size: 30px;
    color: rgb(146, 146, 146);
    transition: color .5s;
}

.profile-button:hover{
    color: black;
}

.profile-button-solid{
    background-color: white;
    border: none;
    font-size: 30px;
    color: black;
    transition: color .5s;
}

.profile-dropdown{
    background-color: white;
    border: 1px solid black;
    width: 8vw;
    position: absolute;
    left: 93.2%;
    border-radius: 3px;
    z-index: 2;
    list-style:none;
    text-align: left;
    font-size: 15px;
    height: 5vh;
    box-shadow: 3px 3px #0000005e;
}

.dropdown-name {
    position: relative;
    top: 30%;
    right: 10%;
    padding:.5%;
    font-size: large;
}

.logout {
    color: rgb(75, 75, 75);
    cursor: pointer;
    transition: color .5s;
    font-size: 15px;
    position: relative;
    left: 350%;
    padding-top: 20%;
}

.logout-dropdown {
    font-family: sans-serif;
    font-size: 8px;
    position: absolute;

}

.write-article:hover,
.logout:hover {
    color:black;
    cursor: pointer;
}

.logout-article-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10%;
}
