.profile-button {
    background-color: white;
    border: none;
    font-size: 30px;
    color: rgb(146, 146, 146);
    transition: color .5s;
    cursor:pointer;
}

.profile-button:hover{
    color: black;
}

.profile-button-solid{
    background-color: white;
    border: none;
    font-size: 30px;
    color: black;
    transition: color .5s;
}

.profile-dropdown{
    background-color: white;
    border: 1px solid black;
    width: 10vw;
    position: fixed;
    left: 84%;
    border-radius: 3px;
    z-index: 2;
    list-style:none;
    text-align: left;
    height: 60px;
    box-shadow: 3px 3px #0000005e;
}

.dropdown-name {
    position: relative;
    font-family: sans-serif;
    top: 30%;
    left: 8%;
    padding:.5%;
    margin-top: 3%;
    font-size: small;
}

.logout-p {
    font-size: 25px;
    position: relative;
    left: 25%;
    font-weight: bold;
    width: 15vw;
    cursor:pointer;

}

.logout {
    padding-left: 1%;
    margin-left: 3%;
    font-size: 20px;
}

.write-article:hover,
.logout:hover {
    color:black;
    cursor: pointer;
}

.logout-article-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10%;
}
